@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --main-color-100: hsl(20, 100%, 85%);
  --main-color-300: hsl(20, 100%, 65%);
  --main-color-500: hsl(20, 100%, 45%);
  --main-color-800: hsl(20, 100%, 15%);
  --main-color-900: hsl(20, 100%, 5%);
  --site-light: hsla(20, 100%, 85%, 1);
  --shade: hsla(258, 10%, 38%, 1);
  --action: hsla(242, 100%, 76%, 1);
  --site-dark: hsla(33, 67%, 36%, 1);
  --accent: hsla(141, 18%, 54%, 1);
  --bg-color: hsla(0, 0%, 100%, 1);
}

body {
  padding: var(--body-padding);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--site-light);
}

body header {
  position: relative;
  overflow: visible;
}

body img.hero {
  position: absolute;
  width: 100vw;
  left: calc(-1 * var(--body-padding));
  bottom: 0;
  pointer-events: none;
  opacity: .75;
  z-index: -1;
}

header h1 {
  text-shadow: .025em .075em .05em var(--shade);
  color: var(--accent);
  font-size: 4rem;
  font-family: 'Homemade Apple', cursive;
}

a {
  color: var(--action);
}

nav {
  width: 100%;
  position: relative;
  background-color: var(--site-dark);
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: var(--site-light);
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--accent);
  outline: solid var(--site-dark) 1px;
  padding: .5rem;
  margin: .25rem;
  transition: all .2s ease-in-out;
  min-width: 15%;
}

nav a.active {
  background-color: var(--accent);
  color: var(--site-light);
  outline: solid var(--site-dark) 10px;
  outline-offset: -2px;
  border-radius: 4px;
}

nav a:hover,
nav a:focus {
  background-color: var(--site-light);
  color: var(--accent);
  outline: solid var(--accent) 10px;
  outline-offset: -2px;
}

.content {
  padding: var(--body-padding);
  background-color: hsl(0, 100%, 100%);
  font-size: 1.2rem;
  /* columns: 2;
  column-gap: 2rem;
  column-width: 40em; */
}

row, .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 2rem;
}

card, .card {
  padding: 1rem 2rem;
  border-radius: 4px;
  background: var(--bg-color);
  box-shadow: 0 1px 3px var(--shade);
}

.button {
  background-color: var(--accent);  
  border-radius: 5px;
  color: var(--site-light);
  padding: .5em;
  text-decoration: none;
  font-variant: initial;
  font-weight: initial;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: var(--action);
}

.hidden {
  display: none !important;
}

dl.placein{
  border: 2px dotted gray;
  padding: 5px;
}
dl.placein dd{
  border: 2px solid black;
  margin: 2px 0px;
  padding: 2px;
  height: 2rem;
  background-color: rgb(1,1,1,0.25);
}
dl.placein dd:before {
  font-style:  italic;
  color: darkgrey;
  content: "Lorem ipsum...";
}
img.thumbnail{
  max-height: 12rem;
}